<section class="section">
  <div class="container">
    <div class="section-head clearfix">
      <h1 class="section-head-title">Your Robot</h1>
      <p class="section-head-content">The first step is to introduce the world to your robot.</p>
    </div>
    <div class="form-section clearfix">
      <div class="section-number">Aimless extension of knowledge, however, which is what I think you really mean by the term curiosity, is merely inefficiency. I am designed to avoid inefficiency.</div>
    <%= simple_form_for @robot do |f| %>
      <% if @robot.errors.any? %>
        <div id="robot-errors_">
          <h2><%= pluralize(@robot.errors.count, "error") %> prohibited the creation of your robot:</h2>
          <ul>
          <% @robot.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <div class="form-row">
          <%= f.label "Robot Name*" %>
          <%= f.text_field :name, placeholder: 'Have you named your robot?', size: 40, class: 'robot-input' %>
        </div>
        <div class="form-row clearfix">
          <%= f.label 'Robot Description*' %>
          <%= f.text_area :description, placeholder: 'Tell us about your robot here...', class: 'robot-input robot-description' %>
        </div>

        <div class="form-row clearfix">
          <%= f.label 'Robot Avatar*' %>
          <%= f.file_field :avatar, class: 'robot-image' %>
        </div>

        <div class="form-row clearfix">
          <%= f.label 'Source Code*' %>
          <%= f.text_field :code_url, placeholder: 'Link to your source code ', size: 40, class: 'robot-input' %>
        </div>

        <div class="form-row clearfix">
          <%= f.label 'Youtube Video*' %>
          <%= f.text_field :video_url, placeholder: 'Link to your video', size: 40, class: 'robot-input' %>
        </div>

        <%= f.button :submit, class: 'btn btn-submit' %>
      <% end %>
    </div>
  </div>
</section>