<section class="hero-case-study cb">
  <div class="hero-case-study-contained">
    <%= image_tag asset_path("knightrider-logo.png"), class: 'hero-case-study-image' %>
  </div>
</section>

<section class="section clearfix">
  <div class="container">
    <article class="case-study">
      <div class="case-study-copy">
        <h1 class="case-study-title"><%= @robot.name %> </h1>
        <p><strong>by <%= @robot.creator_name %> </strong></p>
        <p> <%= @robot.description %> </p>
        <% if @robot.code_url.present? %>
          <%= link_to 'Code', @robot.code_url, class: "btn", target: "_blank" %>
        <% end %>
        <%= link_to 'Video', "#", class: "btn btn-gray" %>
      </div>
    </article>
    <article class="case-parts">

    </article>
    <article class="case-parts">
    </article>
    <article class="case-parts">
    </article>
  </div>
</section>