<% content_for :js do %>
  <script>mixpanel.track('Viewed Homepage');</script>
<% end %>
<section class="hero-image-text cb">
  <div class="top-background clearfix">
    <%= image_tag asset_path("knightrider-logo.png"), class: 'knightrider-logo' %>
    <p class="headline">Instructabots</p>
    <p class="second-headline">share your robots code, and video story</p>
  </div>

  <div class="bottom-background"></div>
</section>

<div id="about" class="value-prop container clearfix">
  <article class="feature">
    <%= image_tag asset_path("robot-val1.png"), class: 'featured-image' %>
    <h2 class="feature-title">Code</h2>
    <p class="feature-text">If you're not failing every now and again, it's a sign you're not doing anything very innovative</p>
  </article>
  <article class="feature">
    <%= image_tag asset_path("robot-val2.png"), class: 'featured-image' %>
    <h2 class="feature-title">Upload</h2>
    <p class="feature-text">It seemed the world was divided into good and bad people. The good ones slept better while the bad ones seemed to enjoy the waking hours much more</p>
  </article>
  <article class="feature">
   <%= image_tag asset_path("robot-val3.png"), class: 'featured-image' %>
    <h2 class="feature-title">Share</h2>
    <p class="feature-text">Basically my wife was immature. I'd be at home in the bath and she'd come in and sink my boats</p>
  </article>
</div>

<section id="featured" class="section clearfix">
  <%= render 'shared/robots' %>
</section>

<section class="section section-thoughts">
  <div class="container">
    <div class="thought">
      <h1 class="section-head-title">Say hello</h1>
      <article class="text-post">
        <p>Tell us what you need and we'll make it come true. We love and adore critical feedback...</p>
      </article>
   </div>
  </div>
</section>