<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title><%= AppConfig.app_name %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="page-head clearfix">
  <div class="container">
    <div class="nav-logo">
      <%= link_to image_tag('knightrider-half.png'), root_path %>
    </div>
    <nav class="page-nav right">
      <ul>
        <li class="menu-item"><%= link_to "About", "/#about" %></li>
        <li class="menu-item"><%= link_to "Featured", "/#featured" %></li>
        <li class="menu-item"><%= link_to "All Robots", "/robots/" %></li>
        <% if user_signed_in? && current_user.robots.present? %>
          <li class="menu-item"><%= link_to "Your Robot",
          robot_path(current_user.robots.first) %></li>
        <% end %>
        <% if user_signed_in? %>
          <li class="menu-item"><%= link_to "log out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <%= link_to 'Submit A Robot', new_robot_path, class: 'btn submit-robot' %>
      <% else %>
        <%= link_to 'Submit A Robot', user_omniauth_authorize_path(:github), class: 'btn submit-robot sub-btn' %>
      <% end %>

    </nav>
  </div>
</header>
<%= yield %>

<footer class="page-footer">
  <div class="copyright">
    <p class="smallprint">&copy; 2013 Copyright Instructobots <span class="space">::</span>  Made with <span class="heart">&#x2665;</span> in NYC by
    <%= link_to "Francis Gulotta", "https://twitter.com/reconbot", class: "footer-link", target: "_blank" %>
    &amp;&amp;
    <%= link_to "Rushaine McBean", "https://twitter.com/copasetickid", class: "footer-link", target: "_blank" %>
    &amp;&amp;
    <%= link_to "Zahra Jabini", "https://twitter.com/zeejab", class: "footer-link", target: "_blank" %>
  </div>
</footer>

<%= render partial: 'shared/ga' %>
<%= render partial: 'shared/mixpanel' %>
<%= yield :js %>
</body>
</html>
